<h2 class="logo">

  <mat-icon>account_balance_wallet</mat-icon>

  Money Tracker

</h2>

<mat-nav-list>

  <a
    mat-list-item
    routerLink="/dashboard"
    routerLinkActive="active">

    <mat-icon matListItemIcon>dashboard</mat-icon>

    <span matListItemTitle>Dashboard</span>

  </a>

  <a
    mat-list-item
    routerLink="/transactions"
    routerLinkActive="active">

    <mat-icon matListItemIcon>payments</mat-icon>

    <span matListItemTitle>Transactions</span>

  </a>

  <a
    mat-list-item
    routerLink="/categories"
    routerLinkActive="active">

    <mat-icon matListItemIcon>category</mat-icon>

    <span matListItemTitle>Categories</span>

  </a>

  <a
    mat-list-item
    routerLink="/settings"
    routerLinkActive="active">

    <mat-icon matListItemIcon>settings</mat-icon>

    <span matListItemTitle>Settings</span>

  </a>

</mat-nav-list>