:host {
  display: block;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: .75rem;

  padding: 1rem;

  font-size: 22px;
  font-weight: 700;
}

.active {
  background: rgba(25,118,210,.15);
  border-radius: 8px;
}

mat-nav-list {

  padding-top: 1rem;

}

a {

  border-radius: 8px;
  margin-bottom: .5rem;

}