<div class="cards">

  <mat-card>

    <mat-card-title>Balance</mat-card-title>

    <mat-card-content>

      {{ balance() | currency }}

    </mat-card-content>

  </mat-card>

  <mat-card>

    <mat-card-title>Income</mat-card-title>

    <mat-card-content>

      {{ income() | currency }}

    </mat-card-content>

  </mat-card>

  <mat-card>

    <mat-card-title>Expenses</mat-card-title>

    <mat-card-content>

      {{ expenses() | currency }}

    </mat-card-content>

  </mat-card>

  <mat-card>

    <mat-card-title>Savings</mat-card-title>

    <mat-card-content>

      {{ savings() }}%

    </mat-card-content>

  </mat-card>

</div>